/*/*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background: linear-gradient(to right bottom, #23013A, #9801EE);
    background-size: contain;
    background-repeat: no-repeat;  
    height: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

.theory_info_title{
    font-size: 160%;
    color: #B4B4B4;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.theory_info {
    overflow: hidden;
    background: #ccc8cd;
    height: 0;
    max-height: 0px; 
    list-style-type: none;
    padding-left: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
    font-size: 20px;
    width: 70%;
    text-align: center;
    font-style: italic;
  }
  
.theory_info.open {
    height: auto;
    max-height: 1000px; 
    -webkit-transition: linear 1s;
    transition: linear 1s;
    line-height: 30px;
    padding: 15px 15px 15px 0;
  
  }
.bold-text{
    font-weight: bold;
}

.info-link{
    color:blueviolet;
    text-decoration: none;
}
.info-link:hover{
    color: #FFFFFF;
    /*outline: dotted red;
    text-decoration: underline royalblue;*/
}


.container {
    max-width: 1440px;
    margin: 0;
    padding: 0 20px;
}


.header-container{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 32px;
}
.logo {
    width: 160px;
    height: 164px;
    background-image: url('../assets/physics_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.7s;
    /*margin-left: 10px;
    margin-top: 20px;*/
}
.logo:hover {
    filter: brightness(0) invert(1);
    transform: rotate(1.5turn);
}


.nav-container{
    margin-left: auto
}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0;
    color: #fff;
    height: 50px;
    margin-top: 72px;
}
.nav-list li{
    margin: 0 0 0 30px;
}
.nav-link{
    color: #B4B4B4;
    transition-duration: 0.4s;
    text-decoration: none;
    position: relative;
}
.nav-link:hover{
    color: #FFFFFF;
    /*outline: dotted red;
    text-decoration: underline royalblue;*/
}

.nav-link::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 3px;
	background-color: red;
}
.nav-link:hover:before {
	width: 100%;
}

.nav-link::before {
	transition: width 0.35s;
}
.nav-link.active{
    color: #FFFFFF;
    text-decoration: underline red;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}


.section-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title{
    margin-top: 50px;
    font-weight: 700;
    font-size: 60px;
    color: #CDCDCD;
    margin-bottom: 0;
    text-align: center;
}

.subtitle-text{
    margin-top: 35px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    width: 577px;
    color: #B4B4B4;
}


.canvas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-block1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




#start_button{
    width: 220px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    margin-top: 5px;
    font-size: 20px;
    border: 0;
    color: #000;
    transition-duration: 0.4s;
    border-radius: 10px;
    background-color: #b4b4b4;
}
#start_button:hover{
    color: #fff;
    transform: scale(1.1, 1.1);
}
#weight1{
    background-color: #0000ff;
    margin-top: 10px;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    transition-duration: 0.4s;
}
#weight2{
    background-color: #ff0000;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    transition-duration: 0.7s;
}
#weight1:focus{
    text-shadow: 0 3px 3px rgba(0,0,255,.85);
    background-color: lightblue;
}
#weight2:focus{
    text-shadow: 0 3px 3px rgba(255,0,0,.85);
    background-color: lightcoral;
}

#weight3{
    background-color: #ff8000;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    transition-duration: 0.7s;
}
#weight3:focus{
    text-shadow: 0 3px 3px rgba(255, 130, 21, 0.85);
    background-color: rgb(255, 253, 154);
}
.label-text{
    font-size: 24px;
    font-weight: 800;
}


.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.footer-text-block{
    font-size: 20px;
    width: 40%;
}
.footer-text2{
    font-size: 20px;
    font-weight: bold;
}
.footer-nav{
    width: 40%;
}


.footer-list{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    color: #fff;
    height: 50px;
    gap: 10px;
}
.footer-list li{
    margin: 0 0 0 80px;
}
.footer-link{
    color: #B4B4B4;
    transition-duration: 0.4s;
    text-decoration: none;
    position: relative;
}
.footer-link:hover{
    color: #FFFFFF;
    /*outline: dotted red;
    text-decoration: underline royalblue;*/
}





.workplace__container {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-top: 13px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.workplace__container:hover{
    text-shadow: 0 3px 3px rgba(0,0,255,.85);
    background-color: lightblue;
}
.workplace__container:active{
    text-shadow: 0 3px 3px rgba(0,0,255,.85);
    background-color: lightblue;
}

.workplace__title {
    font-family: 'Moula';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.06em;
}

.workplace__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #878787;
    border-radius: 50%;
}

.workplace__container:hover input ~ .checkmark {
    background-color: #ccc;
}

.workplace__container input:checked ~ .checkmark {
    background-color: #e66465;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.workplace__container input:checked ~ .checkmark:after {
    display: block;
}
  
.workplace {
    padding-bottom: 100px;
}


.input_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 35px;
}

.input_title{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    
}
.energy_input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}



.input_form_1{
    background-color: #0000ff;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    transition-duration: 0.4s;
}
.input_form_2{
    background-color: #ff0000;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    transition-duration: 0.7s;
}
.input_form_1:focus{
    text-shadow: 0 3px 3px rgba(0,0,255,.85);
    background-color: lightblue;
}
.input_form_2:focus{
    text-shadow: 0 3px 3px rgba(255,0,0,.85);
    background-color: lightcoral;
}




.hamburger{
    display: none;
}

.example-title{
    font-size: 48px;
    text-align: center;
}
.example-images-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.example-images-block img{
    width:300px; 
}

@media (max-width: 768px) {
    .input_title{
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        
    }
    .input_info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }
    .energy_canvas{
        width: 95%;
    }
    .input_form_1{
        margin-top: 5px;
        width: 90px;
        height: 20px;
        border-radius: 10px;
        padding: 5px;
        font-size: 20px;
    }
    .input_form_2{
        margin-top: 5px;
        width: 90px;
        height: 20px;
        border-radius: 10px;
        padding: 5px;
        font-size: 20px;
    }



    #start_button{
        width: 120px;
        height: 35px;
        cursor: pointer;
        margin: 5px;
        font-size: 15px;
        border: 0;
        color: #000;
        transition-duration: 0.4s;
        border-radius: 10px;
    }

    #weight1{
        margin-top: 5px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }
    #weight2{
        margin-top: 5px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }
    #weight3{
        margin-top: 5px;
        width: 150px;
        height: 20px;
        font-size: 20px;
    }






    body{
        align-items: stretch;
    }
    .example-title{
        font-size: 24px;
    }
    .example-images-block{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 109px;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        user-select: none;
        z-index: 2;
        margin: 20px 0px 20px 0px;
      }
      
      .line {
        width: 100%;
        height: 2px;
        background: #fff;
        margin: 5px 0;
        z-index: 15;
        transition: all 0.3s ease-in-out;
      }
      
      .hamburger.open .line1 {
        transform: rotate(-45deg) translate(-10px, 6px);
      }
      
      .hamburger.open .line2 {
        opacity: 0;
      }
      
      .hamburger.open .line3 {
        transform: rotate(45deg) translate(-10px, -6px);
      }


    /*Adaptive Menu*/
    .nav-list{
        position: absolute;
        z-index: 1;
        right: -768px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        height: 50%; 
        width: 500px;
        background-color: #000;
        transition: 0.5s;
        margin-top: 0;
        padding-top: 134px;
        align-items: center;
    }
    .nav-list.open{
        position: absolute; 
        right: 0;
        transition: 0.5s;
    }
    .nav-list li{
        padding-left: 127px;
        line-height: 73px;
        font-size: 35px;
        margin: 0;
    }

    .logo {
        width: 160px;
        height: 164px;
    }

    .main-title{
        font-size: 36px;
    }
    .subtitle-text{
        font-size: 20px;
        width: 70%;
    }


    .footer-container{
        flex-direction: column;
    }
    .footer-text-block{
        font-size: 16px;
        width: 70%;
    }
    .footer-text2{
        font-size: 20px;
        font-weight: bold;
    }
    .footer-nav{
       display: none;
    }
    

    }